@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Permanent+Marker&family=Tangerine:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


header{
    background-color: rgb(19, 22, 22);
    margin: -8px;
    padding-top: 2px;
}

.horizontal{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    list-style: none;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.headerDown{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 20px;
}

.headerDown a{
    text-decoration: none;
    color: white;
    margin-bottom: 100px;
    transition: 0.3s ease;
    
}

.headerDown a:hover{
    color: rgba(255, 228, 196, 0.663);
}

.h2header{
    color: cadetblue;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 20px;
}

.horizontalRight{
    margin-right: 20px;
}

#span2{
    margin-left: 5px;
}

.estancias{
    text-align: center;
    background-color: rgb(231, 228, 224);
    margin-top: -16px;
    margin-left: -10px;
    margin-right: -8px;
    padding-top: 7px;
}

.estancias p{
    margin-top: -20px;
    padding-bottom: 19px;
}

.horizontal span:hover{
    color: rgba(255, 228, 196, 0.663);
    transition: 0.3s ease;
}

.headerUp span{
    transition: 0.3s ease;
}

