<header> 
    <div class="headerUp">
            <ul class="horizontal"> 
                <a href=""><li><span class="fa-solid fa-house"></span> Alójate</li></a>
                <a href=""><li class="horizontalRight"><span class="fa-solid fa-magnifying-glass"></span><span class="fa-solid fa-bars" id="span2"></span></li></a>
            </ul>
    </div>
    <hr class="h2header">
    <div>
        <nav>
            <ul class="headerDown">
                <li> <a href="">Home</a></li>
                <li> <a href="">Booking</a></li>
                <li> <a href="">House</a></li>
                <li> <a href="">Pages</a></li>
                <li> <a href="">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="estancias">
    <h1>ESTANCIAS</h1>
    <p>MAS DETALLES</p>
</div>